.weather-head {
  background-color: skyblue;
  color: white;
}
.city-box {
  background-color: rgba(74, 74, 191, 0.479);
}

.city-list {
  list-style-type: none;
  padding: 10px;
}

.city {
  padding: 5px;
}

.weather-box {
  background-color: rgba(23, 14, 185, 0.614);
}
